@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-hex: #FBF6F6
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}

.frosted-glass {
  /* From https://css.glass */
  background: rgba(251, 246, 246, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @apply border-b border-solid border-gray-650
}



.input-theme {
  @apply rounded-md bg-white-coffee border-none text-gray-650;
}

.input-theme:focus {
  @apply ring-melon border border-melon
}

.button-text {
  @apply normal-case font-medium text-base tracking-wide
}